body {
  font: 24px "Futura", Helvetica, Arial, sans-serif;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #1abc9c;
    border-radius: 10px;
    justify-content: center;
}
.flex-item {
  width: 32%;
  height: 90vh;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 30px;
  background-color: #ecf0f1;
}

/* LEFT COLUMN & STEPS */
.col-one-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
}
.title {
  width: 80%;
  background-color: #ecf0f1;
  margin-left: 20px;
}
.first-step-flex, .second-step-flex, .third-step-flex {
  margin-left: 20px;
  color: #2980b9;
}
.center {
  margin:auto;
  width: 100px;
}
h1 {
  margin: auto;
}

/* DAY LAYOUT */
.day_layout {
  padding-left: 30px;
  padding-top: 18px;
  height: 600px;
  margin: 0 auto;
  border: 1 solid 333;
  background-image: url(../images/planner-bg.jpg);
  max-width: 400px;
  border-radius: 20px;
  content: "";
}
.white {
  background-color: white;
}
.box {
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
}
.text-box {
  text-align: center;
  font-size: 125%;
  color: white;
}
.high {
  margin: auto;
  background-color: #c0392b;
  height: 150px;
}
.medium {
  background-color: #f39c12;
  margin: auto;
  height: 80px;
}
.low {
  background-color: #1abc9c;
  margin: auto;
  height:80px;
}
.routine {
  background-color: #8e44ad;
  margin: auto;
  height: 40px;
}
#high, #medium, #low {
  display: none;
}

/* Todo LIST & EDIT*/
.full-length {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.inline {
display:inline-block;
}
.inline input[type=submit] {
  background:none!important;
  /*border:none;*/
  width: auto;
  padding:0!important;
}
.no-border {
  border: none;
}
.hidden {
  display: none;
}
#new-todo-form {
  margin-top: 50px;
  margin-left: 20px;
}
#edit-form {
  margin-left: 20px;
}
#complete-task {
 color: #ecf0f1;
 background-color: #d35400;
 border-radius: 4px;
 line-height: 25px;
 padding: 8px;
 font-size: 80%
}
#submit-edits-btn {
  font-size: 21px;
}
#todo-done-btn {
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-bottom: -10px;
}
a.btn, #submit-edits-btn, .btn-structure {
 border:3px solid #2980b9;
 border-radius: 4px;
 padding: 5px;
 margin-left: 10px;
 margin-bottom: 10px;
 background-color: #ecf0f1;
 color: #8e44ad;
}
.success {
  animation-name: stretch;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
@keyframes stretch {
  0%, 100% {
    background-color: #ecf0f1;
  }
  50% {
    background-color: #f39c12;
  }
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 10px;
  border-bottom: 3px solid #bdc3c7;
  width: 90%;
}
li.nav {
  display: inline-block;
  margin-right: 15px;
}
textarea {
  /*margin-left: 8%;*/
  margin-top: 30px;
  width: 95%;
  height: 200px;
  font-size: 100%;
}
a {
  text-decoration: none;
  padding: 3px;
}
input {
  /*margin: 10px;*/
  width: 95%;
  /*height: 50px;*/
}
input[type=submit] {
  /*border: none; /*rewriting standard style, it is necessary to be able to change the size*/*/
  height: 50px;
  width: 150px;
  /*text-align: center;*/
  margin: 0 auto;
}
select {
  width: 150px;
  margin-bottom: 10px;
}
.delete-item {
  display: none;
}
/* COLORS
turquoise     #1abc9c
yellow-orange #f39c12
pumpkin       #d35400
red           #c0392b
purple        #8e44ad
dark gray     #2c3e50
med gray      #7f8c8d
light gray    #bdc3c7
v. light gray #ecf0f1
blue          #2980b9 */

/*Font Awesomes*/
/* <i class="fa fa-sticky-note-o" aria-hidden="true"></i> */
/* <i class="fa fa-pencil" aria-hidden="true"></i> */
/* x for delete <i class="fa fa-times" aria-hidden="true"></i> */
/*<i class="fa fa-square-o" aria-hidden="true"></i>*/
