<div class="first-step-flex">
  <h2>Step #1<br>Arrange the boxes to plan out your day.</h2>
  <p>Click "Done" when finished.</p>
  <div class="center">
    <input type="button" id="one" class="btn-structure" value="Done">
  </div>
</div>

<div class="second-step-flex hidden">
  <h2>Step #2<br>Enter ToDos still in your head.</h2>
  <p>Click "Done" when finished.</p>
  <div class="center">
    <input type="button" id="two" class="btn-structure" value="Done">
  </div>
</div>

<div class="third-step-flex hidden">
  <h2>Step #3<br>Ready to get to work?</h2>
  <p>Double click the Brainjuice section on the planner that corresponds with the current time.</p>
  <div class="center">
    <input type="button" id="three" class="btn-structure" value="Got it!">
  </div>
</div>
