<div>
  <label for="bj-new-todo">Brainjuice required </label>
  <select name="brainjuice_id" id="bj-new-todo">
    <% criticalness = ["High", "Medium", "Low"] %>
    <% criticalness.each do |bj| %>
      <% if bj == @bj_name %>
        <option selected><%= bj %></option>
      <% else %>
        <option><%= bj %></option>
      <% end %>
    <% end %>
  </select>
</div>
