<div>
  <label for="bj-new-todo">Brainjuice required </label>
  <select name="brainjuice_id" id="bj-new-todo">
    <option>Medium</option>
    <option>High</option>
    <option>Low</option>
  </select>
</div>
