<form action="/todos" method="post" id="new-todo-form">
  <input type="text" placeholder="Whatcha need to do?" name="todo[name]" autofocus>
  <div class="full-length">
    <%= erb :'/todos/_time_est_select', layout: false  %>
  </div>
  <div class="full-length">
    <%= erb :'/todos/_brainjuice_select', layout: false  %>
  </div>
  <div class="center">
    <input type="submit" class="btn-structure" id="new-todo-btn" value="Got it">
  <!-- <input type="button" id="one" class="btn-structure" value="Done"> -->
  </div>
</form>
