<div>
  <label for="time-est">Time estimate </label>
  <select name="time_est" id="time-est">
      <option>5 min</option>
      <option>15 min</option>
      <option>30 min</option>
      <option selected>60 min</option>
  </select>
</div>
