<% if @todo %>
  <%= @todo.time_est %>
  string vs integer?? 
<% end %>


<div>
  <label for="time-est">Time estimate </label>
  <select name="time_est" id="time-est">
      <option value="5">5 min</option>
      <option value="15">15 min</option>
      <option value="30">30 min</option>
      <option value="60">60 min</option>
  </select>
</div>
