<h1>A Visual Planner<br>
    <% d = Time.now %>
    <%= d.strftime("%e %B") %>
  </h1>
<div class="container">
  <div class="day_layout">
    <div class="box routine">
      <p class="text-box">
        Morning Routine
      </p>

    </div>
    <div class="box high">
      <p class="text-box">
        High Brain Juice
      </p>

    </div>
    <div class="box routine">
      <p class="text-box">
        Lunch
      </p>

    </div>
    <div class="box medium">
      <p class="text-box">
        Medium Brain Juice
      </p>

    </div>
    <div class="box low">
      <p class="text-box">
       Low Brain Juice
      </p>

    </div>

  </div>

</div>